.sidebar {
    /* display: none;*/
}

#inputmap {
    height: 175px;
    border: 1px solid #DCDCDC;
}

.time-control {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #000000;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 14px;
    padding: 8px 12px;
  }
  
.square {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.c-e54c00 {
    background-color: #e54c00;
    color: #FFFFFF;
}
.c-e18cc8 {
    background-color: #e18cc8;
    color: #FFFFFF;
}

.c-ffaa00 {
    background-color: #ffaa00;
    color: #FFFFFF;
}

.c-e69800 {
    background-color: #e69800;
    color: #FFFFFF;
}

.c-e7e600 {
    background-color: #e7e600;
    color: #FFFFFF;
}

.c-014b73 {
    background-color: #014b73;
    color: #FFFFFF;
}

.c-0086a7 {
    background-color: #0086a7;
    color: #FFFFFF;
}

.c-704425 {
    background-color: #704425;
    color: #FFFFFF;
}

.c-71a701 {
    background-color: #71a701;
    color: #FFFFFF;
}

.c-9ae32c {
    background-color: #9ae32c;
    color: #FFFFFF;
}

.c-f4a261 {
    background-color: #f4a261;
    color: #FFFFFF;
}

.c-fffd38 {
    background-color: #fffd38;
    color: #FFFFFF;
}

.c-fc6621 {
    background-color: #fc6621;
    color: #FFFFFF;
}

.c-da0a16 {
    background-color: #da0a16;
    color: #FFFFFF;
}

.c-fc1999 {
    background-color: #fc1999;
    color: #FFFFFF;
}

.c-331196 {
    background-color: #331196;
    color: #FFFFFF;
}

.c-071ac8 {
    background-color: #071ac8;
    color: #FFFFFF;
}

.c-1a9bfc {
    background-color: #1a9bfc;
    color: #FFFFFF;
}

.c-18a81b {
    background-color: #18a81b;
    color: #FFFFFF;
}

.c-0a650c {
    background-color: #0a650c;
    color: #FFFFFF;
}

.c-653308 {
    background-color: #653308;
    color: #FFFFFF;
}

.c-986638 {
    background-color: #986638;
    color: #FFFFFF;
}

.c-bbbbbb {
    background-color: #bbbbbb;
    color: #FFFFFF;
}

.c-888888 {
    background-color: #888888;
    color: #FFFFFF;
}

.c-444444 {
    background-color: #444444;
    color: #FFFFFF;
}

.c-000000 {
    background-color: #000000;
    color: #FFFFFF;
}

.c-9cec5b {
    background-color: #9cec5b;
    color: #FFFFFF;
}

.c-50c5b7 {
    background-color: #50c5b7;
    color: #FFFFFF;
}

.c-e76f51 {
    background-color: #e76f51;
    color: #FFFFFF;
}

.c-8d99ae {
    background-color: #8d99ae;
    color: #FFFFFF;
}

.c-6fdb6f {
    background-color: #6fdb6f;
    color: #FFFFFF;
}

.c-d0f4d0 {
    background-color: #d0f4d0;
    color: #FFFFFF;
}

.c-71b8ff {
    background-color: #71b8ff;
    color: #FFFFFF;
}

.c-afd7ff {
    background-color: #afd7ff;
    color: #FFFFFF;
}

.c-808080 {
    background-color: #808080;
    color: #FFFFFF;
}

.c-b2b2b2 {
    background-color: #b2b2b2;
    color: #FFFFFF;
}

.c-598600 {
    background-color: #598600;
    color: #FFFFFF;
}

.c-006600 {
    background-color: #006600;
    color: #FFFFFF;
}

.c-6600cc {
    background-color: #6600cc;
    color: #FFFFFF;
}

.c-9966ff {
    background-color: #9966ff;
    color: #FFFFFF;
}

.c-ff0000 {
    background-color: #ff0000;
    color: #FFFFFF;
}

.c-ff8989 {
    background-color: #ff8989;
    color: #FFFFFF;
}

.c-996633 {
    background-color: #996633;
    color: #FFFFFF;
}

.c-cc9900 {
    background-color: #cc9900;
    color: #FFFFFF;
}

.c-ffcc00 {
    background-color: #ffcc00;
    color: #FFFFFF;
}

.c-fff1b7 {
    background-color: #fff1b7;
    color: #FFFFFF;
}

.c-24496e {
    background-color: #24496e;
    color: #FFFFFF;
}

.c-3b77b3 {
    background-color: #3b77b3;
    color: #FFFFFF;
}

.c-dddddd {
    background-color: #dddddd;
    color: #FFFFFF;
}

.c-f2f2f2 {
    background-color: #f2f2f2;
    color: #FFFFFF;
}

.c-739b32 {
    background-color: #739b32;
    color: #FFFFFF;
}

.c-e1b671 {
    background-color: #e1b671;
    color: #FFFFFF;
}

.c-006666 {
    background-color: #006666;
    color: #FFFFFF;
}

.c-00a6a2 {
    background-color: #00a6a2;
    color: #FFFFFF;
}

.c-de2d26 {
    background-color: #de2d26;
    color: #FFFFFF;
}

.c-fc9272 {
    background-color: #fc9272;
    color: #FFFFFF;
}

.c-843c0c {
    background-color: #843c0c;
    color: #FFFFFF;
}

.c-da801c {
    background-color: #da801c;
    color: #FFFFFF;
}

.c-ffe699 {
    background-color: #ffe699;
    color: #FFFFFF;
}

.c-742d9f {
    background-color: #742d9f;
    color: #FFFFFF;
}

.c-af6fd7 {
    background-color: #af6fd7;
    color: #FFFFFF;
}

.c-0d0d0d {
    background-color: #0d0d0d;
    color: #FFFFFF;
}

.c-c2e699 {
    background-color: #c2e699;
    color: #FFFFFF;
}

.c-78c679 {
    background-color: #78c679;
    color: #FFFFFF;
}

.c-31a354 {
    background-color: #31a354;
    color: #FFFFFF;
}

.c-006837 {
    background-color: #006837;
    color: #FFFFFF;
}

.c-e168c8 {
    background-color: #e168c8;
    color: #FFFFFF;
}

.c-404040 {
    background-color: #404040;
    color: #FFFFFF;
}

.c-cd329b {
    background-color: #cd329b;
    color: #FFFFFF;
}

.c-ff8cc8 {
    background-color: #ff8cc8;
    color: #FFFFFF;
}

.c-5a5a5a {
    background-color: #5a5a5a;
    color: #FFFFFF;
}

.c-373737 {
    background-color: #373737;
    color: #FFFFFF;
}

.c-eb827d {
    background-color: #eb827d;
    color: #FFFFFF;
}

.c-ffb671 {
    background-color: #ffb671;
    color: #FFFFFF;
}


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: hidden;
        /*background-color: #f5f5f5;*/
        border-right: 1px solid #eee;
    }
}

section.synthesishistory {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: "Raleway", Times, serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: -2px;
}

h2 {
    font-family: "Raleway", Times, serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: -2px;
}

.main {
    padding: 20px;
    padding-bottom: 500px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
    /* top: 33.3333%; */
    width: 3px;
    height: 3px;
    background: red;
    ;
}

.viewing {
    background: #eee;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}

.page-header {
    margin-bottom: 0px;
}


.range-wrap {
    position: relative;
    margin: 0 auto 3rem;
  }
  .range {
    width: 100%;
  }
  .bubble {
    background: gray;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: gray;
    top: -1px;
    left: 50%;
  }
  
  body {
    margin: 2rem;
  }
  